<!DOCTYPE html>
<html>
<head>
<style>
	table, th, td{
	border : 1px solid black;
	border-collapse : collapse;
	}
	
	th, td{
	text-align : center;
	padding : 5px;
	}
</style>
<title>Movies-Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Top Movies From IMDB</h1>
  <span>
	<a href="/movie-data/1/h3/lister-item-header/50">Page 1</a>
	<a href="/movie-data/51/h3/lister-item-header/50">Page 2</a>
	<a href="/movie-data/101/h3/lister-item-header/50">Page 3</a>
	<a href="/movie-data/151/h3/lister-item-header/30">Page 4</a>
  </span>
  <br><br><br>
  <table>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Year</th>
		<th>Rating</th>
	</tr>
	{% for x in range(size) %}
	<tr>
		<td> {{data1[x]}} </td>
		<td style="text-align:left"> {{data2[x]}} </td>
		<td> {{data3[x]}} </td>
		<td> {{data4[x]}} </td>
	</tr>
	{% endfor %}		
  </table>
  <br><br><br>
  <h3> Page : </h3>
  
</body>
</html>

