<!DOCTYPE html>
<html>
<head>
<style>
	table, th, td{
	border : 1px solid black;
	border-collapse : collapse;
	}
	
	th, td{
	text-align : center;
	padding : 5px;
	}
</style>
<title>Movies-Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Top Movies From IMDB</h1>
  <table>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Year</th>
		<th>Rating</th>
	</tr>
	{% for x in range(size) %}
	<tr>
		<td> {{data1[x]}} </td>
		<td style="text-align:left"> {{data2[x]}} </td>
		<td> {{data3[x]}} </td>
		<td> {{data4[x]}} </td>
	</tr>
	{% endfor %}		
  </table>
</body>
</html>